html {
    height: 1000px;
}

#box, #box2 {
    width: 100px;
    height: 100px;
    position: absolute;
}

#box {
    background-color: green;
    left: 250px;
    top: 250px;
}

#box2 {
    background-color: red;
    left: 500px;
    top: 500px;
}

.particle {
    display: block;
    position: absolute;
    z-index: 50;
}